{% extends 'base.html.twig' %}
 
{% block title %}Réinisialisation du mot de passe{% endblock %}
 
{% block body %}
<div class="container bubble">
    <form method="post">
 
        <h2 class="bubble-title">Réinisialisation du mot de passe</h2>
        <label for="inputPassword" class="">Nouveau mot de passe*</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{token}">
<div class="text-center mt-2">
        <button class="btn btn-lg btn-success mt-2 ml-0" type="submit">
            Envoyer !
        </button>
        </div>
    </form>
    </div>
 
{% endblock %}