
<html>
    <head>
        <meta charset="UTF-8">
            <title>Réinisialisation Mot de passe</title>
        </head>
        <body>
            <div>
                <h2 style="color:#253f58; font-size: 25px;">Job Match - Réinisialisation du mot de passe</h2>
                <p style="font-size: 15px;">
                    <strong style="color: #d92139; font-size: 15px;">
                        {{user.firstname}}   {{user.lastname}}</strong>
                    Pour réinisialisez votre mot de passe merci de cliquer sur le lien suivant :  </p>
                <p style="font-size: 15px;">
                    <a href="{{url}}">reset password</a>
                </p>
                <p style="font-size: 15px;">L'Equipe de Job Match.
                   
                </p>
            </div>
        </body>
    </html>