{% extends 'base.html.twig' %}
{% block title %}
        Page d'accueil-Job Match
{% endblock %}
{% block body %}
	<!-- template de la home page -->

	<div class="home-wrapper d-flex justify-content-center">
		<div class="test align-self-center">
			<h1 class="mb-3">
				Job-Match
			</h1>
			<div class="text-center ">
				<h5>
					Find your love job
				</h5>
				<section class="justify-content-center d-flex">
					<div class="btn_wrap">
						<span id="span-home" class="text-center">Connexion</span>
						<div class="container">
							<a  class="a-user" href="{{ path('user_sign') }}">Espace Candidat</a>
							<a class="a-recruiter" href="{{ path('recruiter_sign') }}">Espace Recruteur</a>
						</div>
					</div>
				</section>


			</div>

		</div>
	</div>
{% endblock %}
