{% extends 'base.html.twig' %}

{% block body %}

  <div class="sign-wrapper d-flex justify-content-center">
    <div class="sign-up col-4 align-self-center">
      <h2 class="text-center">
        <a href="{{ path('app_register') }}">Sign Up  </a> 
      </h2>
    
    </div>

    <div class="col-4 align-self-center">
      <h2 class="text-center">
       <a href="{{ path('app_login') }}"> Sign In</a>  
      </h2>
 
    </div>
  </div>
{% endblock %}
 