 
 {% extends 'base.html.twig' %}

{% block body %}
 <!--Sign Up-->
  <div class="sign-wrapper d-flex justify-content-center">
    <div class=" col-4 align-self-center">
    <h2 class="text-center">S'inscire</h2>
  {{ form(formView) }}
    </div>
  </div>
{% endblock %}
 
 
