.home-wrapper {
    height: 100vh;
}

.home-wrapper h1{
    font-weight: 200;
    font-size: 84px;
    color:#636b6f;
    border-bottom: 2px solid;
}

.home-wrapper h5{
    font-weight: 200;
    color:#636b6f;
    margin:1em;
}

.home-wrapper a{
    margin:1em 2em;
    }

.home-wrapper a:hover{
background-color: #636b6f;
}



.sign-wrapper{
    height: 100vh;

}
.sign-up{
    border-right: #636b6f 2px solid;
}

.sign-up-button{
    color:#fff;
    background-color: #636b6f;
}

.user-home{
    font-weight: 200;
    font-size: 84px;
    color:#636b6f;
    margin:0.5em;
}
