.home-wrapper {
    height: 100vh;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,0.5) 0%, rgb(89, 103, 212) 23%, rgb(8, 54, 153) 100%);

}

.home-wrapper h1{
    font-weight: 200;
    text-align: center;
    font-size: 84px;
    color:rgb(8, 54, 153);
    border-bottom: 2px solid;
}

.home-wrapper h5{
    font-weight: 200;
    color:rgb(8, 54, 153);
    margin:1em;
}

.home-wrapper a{
    margin:1em 2em;
    color:rgb(8, 54, 153);
    border-color: rgb(8, 54, 153);
    }

.home-wrapper a:hover{
background-color: rgb(8, 54, 153);
}

.sign-wrapper a{
color:#476e38
}


.sign-wrapper{
    height: 100vh;

}
.sign-up{
    border-right: #636b6f 2px solid;
}

.sign-up-button{
    color:#fff;
    background-color: #636b6f;
}

.user-home{
    font-weight: 200;
    font-size: 84px;
    color:#636b6f;
    margin:0.5em;
}
