.home-wrapper {
    height: 100vh;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,22,121,1) 23%, rgba(0,82,255,1) 100%);

}

.home-wrapper h1{
    font-weight: 200;
    font-size: 84px;
    color:#476e38;
    border-bottom: 2px solid;
}

.home-wrapper h5{
    font-weight: 200;
    color:#476e38;
    margin:1em;
}

.home-wrapper a{
    margin:1em 2em;
    }

.home-wrapper a:hover{
background-color: #476e38;
}

.sign-wrapper a{
color:#476e38
}


.sign-wrapper{
    height: 100vh;

}
.sign-up{
    border-right: #636b6f 2px solid;
}

.sign-up-button{
    color:#fff;
    background-color: #636b6f;
}

.user-home{
    font-weight: 200;
    font-size: 84px;
    color:#636b6f;
    margin:0.5em;
}
