{% extends 'base.html.twig' %}
{% block body %}
	<!--template du dispatch signIn/Up-->

	<div class="sign-wrapper d-flex justify-content-center">


		<div class="wrapper align-self-center m-5">
			<a class="btn_wrap" href="{{ path('user_register') }}">
				<span id="span-home" class="text-center">Inscription</span>
				<div class="container">
					 Cliquez ici
				</div>
			</a>
		</div>
		<section class="justify-content-center d-flex">

			<div class="wrapper align-self-center m-5">
				<a class="btn_wrap" href="{{ path('user_login') }}">
					<span id="span-home" class="text-center">Connexion</span>
					<div class="container ">
					Cliquez ici
				</div>
				</a>
			</div>
		</section>


	</div>


{% endblock %}
