{% extends 'base.html.twig' %}


{% block body %}
	<h1 class="text-center user-home ">Find your love Job</h1>

	{{include('include/_navbar.html.twig')}}
	<div class="card m-3" style="max-width: 540px;">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="{{ asset('uploads/pictures/' ~ user.profilPicture) }}" class="card-img" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<a href="#" id="upload-button" class="btn btn-primary">Changer de photo de profil</a>
					<div id="upload-image" class="d-none">
						{{ form(formView) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascripts %}
		<script>
    console.log('test')
			$("#upload-button").click(function () {
          $("#upload-image").addClass("d-block");
          $("#upload-button").addClass("d-none")

      });
		</script>
	{% endblock %}
